/* Couleurs*/
.colorPrimaire{
    background-color: #9356DC;
}

.colorSecondaire{
    background-color: #FF79DA;
}

.colorTertiaire{
    background-color: #99E2D0;
}
/* Polices */
body{
    font-family: Roboto,sans-serif;
}

/*General*/
body{
    margin:0;
}

.container{
    max-width: 1280px;
    margin: auto;
}
/* Header*/
header{
    text-align: center;
}

header img{
    max-width: 40%;
    margin-top: 20px;
}
.ville{
    display: flex;
    justify-content: center;
    padding: 1.25rem 1rem;
    background-color: #f3f3f3;
    font-size: 1.2rem;
    position: relative;
    align-items: center;
    margin-bottom: -20px;
}

.reserver{
    background-color: #fafafa;
    padding-bottom: 10px;
}

.reserver h1,p{
    margin-left: 10px;
    margin-right: 10px;
    font-family: Roboto,sans-serif;
}

.reserver h1{
    padding-top: 15px;
}
.reserver p{
    color:rgb(197, 195, 195);
}

.explore{                                       /* Boutton explorer nos restaurants avec au survol le curseur qui passe en pointeur et un effet d'ombre */
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    cursor: pointer;
    transition-duration: .50s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    text-decoration: none;
}
.explore:hover {
    background-color: white;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
  }

/* Partie fonctionnement */
.fonctionnement h2{
    margin-left: 40px;
}

.listes{
    margin-right: 15px;
    padding: 0;
    list-style: none;
    counter-reset: compteListe;
}

.liste{
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
    font-weight: bold;
    color: #7e7e7e;
}

.liste:before{
    counter-increment: compteListe 1;    /* Mise en place de la liste 1 2 3 */
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -1%;
}
.liste:hover{
    background-color: white;  /* Changement de couleur au survol et un effet d'ombre */ 
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
    cursor: pointer;
}
.mini:hover{
    color: #9356DC;  /* Les logos changent de couleur au survol */
}

.liste span{
    margin-left: 1rem;
    color:#7e7e7e;
}




/* Partie restaurants */
.restaurant{
    background-color: #f6f6f6;
    padding-top: 20px;
    margin: 20px;
    border-radius: 20px;
}
h2{
    margin-left: 35px;
}

.restaurant p{
    color: black;
}



.cartes img{
    height: 12rem;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
}
.cartes h2,span{
    color: black;
}
.carte{
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    margin: 20px;
}

.badge{
    background-color: #99e2d0;       /* Mise en place du badge nouveau */ 
    color: #1b6150;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
}

.card__footer {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.card__content {
    flex: 1;
}

.card__title {
    margin: 0 0 0.25rem;
}

.card__btn {
    display: flex;
    cursor: pointer;
    color: black;
}

.menu__like--bg {             /* Mise en place du coeur et de son remplissage au survol*/
    opacity: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right bottom, #FF79DA, #9356DC);
  }
  .menu__like--noBg {
    transition-duration: 0.5s;
    position: absolute;
  }
.card__btn:hover .menu__like--bg{
    opacity: 1;
  }
.card__btn:hover .menu__like--noBg{
    opacity: 0;
  }


/* Footer */
footer {
    background-color: #353535;
}
.footer .container{
    padding: 1rem;
}
.footerliste{
    list-style: none;
    padding: 0;
    margin: 0;
}
footer span,a{
    color: white;
    text-decoration: none;
}

/* Responsive */
@media screen and (min-width: 812px){  /* La liste de mes restaurants s'aligne les uns a coté des autres */
    .listes{
        display: flex;
        justify-content: space-between;
    }
    .cartes{
        display: flex;
    }
    .carte h2,span{
        display: inline-block;
    }
}

/* Animations */
.loadscreen{
    background: white;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeout 0.2s 3s forwards;
}
.spinnerbig{
    position: absolute;
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    border: 3rem solid rgba(161, 160, 160, 0);
    border-top: 3rem solid #9356dc;
    border-left: 3rem solid #9356dc;
    border-bottom: 3rem solid #9356dc;
    animation: spinneroff 0.8s 0.2s 5;
}
.spinner{
    border: 2rem solid rgba(161, 160, 160, 0);
    border-top: 2rem solid #ff79da;
    border-right: 2rem solid #ff79da;
    border-bottom: 2rem solid #ff79da;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    opacity: 1;
    animation: spinner 0.8s 0.2s 5;
    position: absolute;
}
.spinnersmall{
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1.5rem solid rgba(161, 160, 160, 0);
    border-top: 1.5rem solid #99e2d0;
    border-left: 1.5rem solid #99e2d0;
    border-bottom: 1.5rem solid #99e2d0;
    animation: spinneroff 0.8s 0.2s 5;
}
@keyframes fadeout{    /* Mise en place de l'animation ou je lui demande d'etre visible au debut puis de disparaitre */  
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        visibility: hidden;
    }
}
@keyframes spinneroff{     /* Je demande a mes 2 cercle de tourner sur eux meme  */
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes spinner{      /* Je demande au cercle du mileu de tourner dans le sens inverse des 2 autres cercles */
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsla(0,0%,100%,.9);
    animation: loader .01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader__itemContainer {
    display: flex;
    width: 5rem;
    justify-content: space-between;
}

.loader__item {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    animation: jump 1s;
    animation-iteration-count: 1;
}

.loader__item--1 {
    background-color: green;
}

.loader__item--2 {
    background-color: grey;
    animation-delay: .25s;
}

.loader__item--3 {
    background-color: red;
    animation-delay: .5s;
}





@keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
  } 
  
  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(0.5rem);
    }
    75% {
      transform: translateY(-0.5rem);
    }
    100% {
      transform: translateY(0);
    }
    
  }
 