/* Couleurs*/
.colorPrimaire{
    background-color: #9356DC;
}

.colorSecondaire{
    background-color: #FF79DA;
}

.colorTertiaire{
    background-color: #99E2D0;
}
/* Polices */
body{
    font-family: Roboto,sans-serif;
}

/*General*/
body{
    margin:0;
}

.container{
    max-width: 1280px;
    margin: auto;
}
/* Header*/
header{
    text-align: center;
}

header img{
    max-width: 40%;
    margin-top: 20px;
}
.ville{
    display: flex;
    justify-content: center;
    padding: 1.25rem 1rem;
    background-color: #f3f3f3;
    font-size: 1.2rem;
    position: relative;
    align-items: center;
    margin-bottom: -20px;
}

.reserver{
    background-color: #fafafa;
    padding-bottom: 10px;
}

.reserver h1,p{
    margin-left: 10px;
    margin-right: 10px;
    font-family: Roboto,sans-serif;
}

.reserver h1{
    padding-top: 15px;
}
.reserver p{
    color:rgb(197, 195, 195);
}

.explore{                                       /* Boutton explorer nos restaurants avec au survol le curseur qui passe en pointeur et un effet d'ombre */
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    cursor: pointer;
    transition-duration: .50s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    text-decoration: none;
}
.explore:hover {
    background-color: white;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
  }

/* Partie fonctionnement */
.fonctionnement h2{
    margin-left: 40px;
}

.listes{
    margin-right: 15px;
    padding: 0;
    list-style: none;
    counter-reset: compteListe;
}

.liste{
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
    font-weight: bold;
    color: #7e7e7e;
}

.liste:before{
    counter-increment: compteListe 1;    /* Mise en place de la liste 1 2 3 */
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -1%;
}
.liste:hover{
    background-color: white;  /* Changement de couleur au survol et un effet d'ombre */ 
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
    cursor: pointer;
}
.mini:hover{
    color: #9356DC;  /* Les logos changent de couleur au survol */
}

.liste span{
    margin-left: 1rem;
    color:#7e7e7e;
}




/* Partie restaurants */
.restaurant{
    background-color: #f6f6f6;
    padding-top: 20px;
    margin: 20px;
    border-radius: 20px;
}
h2{
    margin-left: 35px;
}

.restaurant p{
    color: black;
}



.cartes img{
    height: 12rem;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
}
.cartes h2,span{
    color: black;
}
.carte{
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    margin: 20px;
}

.badge{
    background-color: #99e2d0;       /* Mise en place du badge nouveau */ 
    color: #1b6150;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
}

.cardfooter {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.cardcontent {
    flex: 1;
}

.cardtitle {
    margin: 0 0 0.25rem;
}

.cardbtn {
    display: flex;
    cursor: pointer;
    color: black;
}

.menulike-bg {             /* Mise en place du coeur et de son remplissage au survol*/
    opacity: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right bottom, #FF79DA, #9356DC);
  }
.menulike-noBg {
    transition-duration: 0.5s;
    position: absolute;
  }
.cardbtn:hover .menulike-bg{
    opacity: 1;
  }
.cardbtn:hover .menulike-noBg{
    opacity: 0;
  }


/* Footer */
footer {
    background-color: #353535;
}
.footer .container{
    padding: 1rem;
}
.footerliste{
    list-style: none;
    padding: 0;
    margin: 0;
}
footer span,a{
    color: white;
    text-decoration: none;
}

/* Responsive */
/*Mode tablette */
@media screen and (min-width: 768px){  /* Alignement de la liste */
    .listes{
        display: grid;
        justify-content: space-around;
    }
    
}
/* Mode Pc*/
@media screen and (min-width: 1020px){
    
    .listes{
        display: flex;
        justify-content: space-between;
    }
    .cartes{
        display: flex;
    }
    .carte h2,span{
        display: inline-block;
    }
}
/* Animations */
/* Création du loader */
.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
    animation: loader .01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader__itemContainer {
    display: flex;      /* Alignement des 3 points du loadder */
    width: 6rem;
    justify-content: space-between;
}

.loader__item {
    height: 1rem;
    width: 1rem;
    border-radius: 20px;
    animation: jump 2s;   /* Animation des 3 points qui sautent */
}

.loader__item--1 {
    background-color: #9356DC;
}

.loader__item--2 {
    background-color: #FF79DA;
    animation-delay: .25s;
}

.loader__item--3 {
    background-color: #99E2D0;
    animation-delay: .5s;
}

@keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;   
    }
  } 
  
@keyframes jump {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(0.5rem);
    }
    75% {
      transform: translateY(-0.5rem);
    }
    100% {
      transform: translateY(0);
    }
    
  }



/* Partie menu */
 

.titremenu1{
    font-family: 'Shrikhand', cursive;
}
.container{
    position: relative;
}

.fleche{      /* Je positionne la fleche a coté du nom de mon site */
    position: sticky;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #000;
}

.pict{
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
}

.menu{
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
}

.carte{
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);    
}

.carterestau{
    display: grid;
}

.submenu{
    overflow: hidden;
    padding: 0 1rem;
}

.submenutitre{
    text-transform: uppercase;   /* Majuscule */
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;
}

.submenutitre:after {    /* Mise en place de la banniere bleu sous les entrées plats et desserts */
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 20px;
}

.entrees div{
    background-color: white;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
}

.titremenu{
    text-align: start;
}
.menuItem {
    background-color: white;
    padding: 1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear .8s;
    animation-fill-mode: both;
    
}
.menuItem__header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
}


.menuItemdescription {
    margin: 0;
    white-space: nowrap;     /* Le texte ne va pas a la ligne */
    text-overflow: ellipsis;    /* Le texte est coupé de 3 petit points */
    overflow: hidden;
}
.menuItemprice {
    font-weight: bold;
    display: flex;
    align-items: flex-end;
}

.menuItemconfirmation {
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
}

.menuItem:hover .menuItemconfirmation {
    margin-right: -1rem;
}

.menuItemwrapIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;

}

.menuItem:hover .menuItemwrapIcon {   /* La coche tourne sur elle meme */
    transform: rotate(0);
}

.menuItemicon {
    color: #99e2d0;
}

.commander{
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 3rem 0;
}
/* Boutton commander */
.bouttoncommand{
    border: 0;
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    cursor: pointer;
}
.bouttoncommand:hover {    /* Mise en place d'effet d'ombre sur le boutton commander au survol*/
    background-color: white;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
  }

footer {
    background-color: #353535;
}
.footer .container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.footerliste{
    list-style: none;
    padding: 0;
    margin: 0;
}
footer span,a{
    color: white;
    text-decoration: none;
}

/* Responsive */
/* Mode tablette */
@media screen and (min-width: 768px){
   .carterestau{
    grid-template-columns: repeat(3,1fr);   /* Les plats ne sont plus les une sur les autres mais en 3 collones de gauche a droite */
    column-gap: 1rem;
    }
    .submenutitre:after{
    content: "";    
    width: 3rem;
    height: 0.25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
    }
}

/* Mode Pc*/
@media screen and (min-width: 1028px){
    .titremenu1{
    text-align: -webkit-center;
    }
}
/* Animations */
  
.delay-0 {                   /* Mise en place de l'animation pour faire apparaitre les plats les uns apres les autres */
    animation-delay: 0s;
}
.delay-1 {
    animation-delay: .1s;
}
.delay-2 {
    animation-delay: .2s;
}
.delay-3 {
    animation-delay: .3s;
}
.delay-4 {
    animation-delay: .4s;
}
.delay-5 {
    animation-delay: .5s;
}
.delay-6 {
    animation-delay: .6s;
}
.delay-7 {
    animation-delay: .7s;
}
.delay-8 {
    animation-delay: .8s;
}

@keyframes itemAppear {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
  }





