body{
    margin:0;
}
body, html{
    font-family: Roboto,sans-serif;
}
.container{
    max-width: 1280px;
    margin: auto;
    position: relative;
}

.colorPrimaire{
    background-color: #9356DC;
}

.colorSecondaire{
    background-color: #FF79DA;
}

.colorTertiaire{
    background-color: #99E2D0;

}

header{
    text-align: center;
}

.fleche{
    position: sticky;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #000;
}

.pict{
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
}

.menu{
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
}
.titremenu{
    font-family: Shrikhand,"cursive";
}

.carte{
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    
}

.carterestau{
    display: grid;
}

.submenu{
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
}

.submenutitre{
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;
}

.submenu__titre:after {
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 20px;
}

.menuitem{
    background-color: #fff;
    padding: 1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear .6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    /*transform: scale(0);*/
    max-width: 100%;
}

.menuitemheader, .menuitemtitre{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menuItem__header, .menuItem__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.menuitemheader{
    flex: 1;
}

.menuitemtitre{
    margin: 0;
}

.menuitemdescription{
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menuitemprix{
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
}

.menuitemconfirm{
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
}
.menuitemwrap{
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: .5s;
}

.menuitemicon{
    color: #99e2d0;
}





.menu__header {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__title {
    font-family: Shrikhand,"cursive";
}

.menu__btn {
    height: 2rem;
    width: 2rem;
    background-color: initial;
    border: 0 solid transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.menu__like {
    display: flex;
    align-items: center;
    justify-content: center;
}


















.entrees div{
    background-color: white;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
}

.titremenu{
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titremenu h1{
    font-family: Shrikhand,"cursive";
}

.menutitre{
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;
}
.menutitre::after{
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 20px;
}

.prix{
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
}



.commander{
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 3rem 0;
}

.bouttoncommand{
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    cursor: pointer;
}

footer {
    background-color: #353535;
}
.footer .container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.footerliste{
    list-style: none;
    padding: 0;
    margin: 0;
}
footer span,a{
    color: white;
    text-decoration: none;
}



@media screen and (min-width: 1200px){
    .carterestau{
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
    }
    .submenutitre:after{
    content: "";    
    width: 3rem;
    height: 0.25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
    }
}

.delay-0 {
    animation-delay: 0s;
}
.delay-1 {
    animation-delay: .1s;
}
.delay-2 {
    animation-delay: .2s;
}
.delay-3 {
    animation-delay: .3s;
}
.delay-4 {
    animation-delay: .4s;
}
.delay-5 {
    animation-delay: .5s;
}
.delay-6 {
    animation-delay: .6s;
}
.delay-7 {
    animation-delay: .7s;
}
.delay-8 {
    animation-delay: .8s;
}

.menuItem {
    background-color: white;
    padding: 1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear .6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
}
.menu__header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }

 .menu__title {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .menu__description {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .menu__price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
  }

  .menu__confirmation {
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display:flex;
    align-items:center;
    justify-content:center;
    transition-duration: 0.5s;
  }

  .menu:hover .menu__confirmation {
    margin-right: -1rem;
  }

  .menu__wrapIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;

  }

  .menu:hover .menu__wrapIcon {
    transform: rotate(0);
  }

 
  .wrapBtn {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 3rem 0;
  }

  .menuItem__confirmation {
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
}

.menuItem__wrapIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: .5s;
}

.menuItem__icon {
    color: #99e2d0;
}


@keyframes itemAppear {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
  }
